version: "3.9"
services:
  backend:
    build: ./backend
    container_name: django-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - DJANGO_SETTINGS_MODULE=sparc.settings
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: nuxt-frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    environment:
      - NUXT_PUBLIC_API_BASE=http://localhost:8000
    depends_on:
      - backend

  db:
    image: postgres:18
    container_name: postgres-db
    environment:
      - POSTGRES_DB=django
      - POSTGRES_USER=django
      - POSTGRES_PASSWORD=django
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
